.button {
    margin: 20px 20px 20px 20px;
}

.center {
    text-align: center;
}

.mart {
    margin-top: 20px;
    margin-left: 10px;
}

.language {
    display: none;
}

textarea{
    height: 50px;
    width: 60px;
}

